{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    body {
        font-family: sans-serif;
        font-size: 18px;
        background-color: white;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .masthead {
        background-color: indigo;
    }
</style>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class=" site-heading my-4 mt-3 text-white">Mad About Hacking </h1>
                    <p class="text-light" id="slogan">Know About Us
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
<div class="card mb-3 mt-3">
    <img class="card-img-top" src="{%static 'img/about.jpg' %}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">About <em>Mad About Hacking</em></h5>
        <p class="card-text">Hi visitors, </p>

            <p class="card-text">The modern 4G world offers you numerous options to choose from in order to have your work fulfilled. And it certainly feels like a challenge to choose the right option from the vast Internet  certainly be helpful for you to do your work and trusts us you don’t need to waste time anymore researching what you will require for your job.</p>

            <p class="card-text">We here at MAH works passionately to help you make the right decisions to get your purpose done with the least time and less trouble. We deal with almost everything ranging from mobile issues, online security, computer troubles, and much more related to the online world. We aim to grow better and smarter citizens who could take the benefits of the internet and stay safe.</p>


        <p class="card-text">We have a dedicated team for every category of queries you have, and also try to solve your problems in the local languages in which you are comfortable So that you could enjoy the modern world with modern facilities fast and safe.</p>

        <p class="card-text">Team MAH</p>
    
        <p class="card-text"><small class="text-muted">Thank You</small></p>
    </div>
</div>
</div>

{%endblock%}