{% extends "base.html" %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">
<style>
	h1 {
	font-weight: bold }
    body {
        font-family: sans-serif;
        font-size: 18px;
        background-color: white;
    }

    .head_text {
        color: white;
    }

    .card {
    	font-family: Noto-Sans-JP;
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .masthead {
        background-color: white;
    }
</style>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class=" site-heading my-4 mt-3 text-white">Mad About Hacking </h1>
                    <p class="text-light" id="slogan">Posts On Demand
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
<hr><h3 >Articles on Hacking:</h3><hr>
{% for post in allPosts %}
<div class="card flex-md-row mb-4 box-shadow h-md-250">
<div class="card-body d-flex flex-column align-items-start">
		<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
		<div class="h-entry">
		<a href="/blog/{{post.slug}}">
		<img src="link of the image here.." alt="Image of the post" class="img-fluid">
		</a>
		<h2 class="font-size-regular"><a href="/blog/{{post.slug}}">{{post.title}}</a></h2>
		<div class="meta mb-4">{{post.author}}<span class="mx-2">&bullet;</span> {{post.datetime}}<span class="mx-2">&bullet;</span> <a href="#">{categories Hacking}</a></div>
		<p>{{post.content| truncatechars:450}}</p>
		<p><a href="#">Continue Reading...</a></p>
		</div> 
		</div>
              
            </div>
</div>
{% endfor %}
  </div>
  




{% endblock content %}
